$dark-text-main: white;
$dark-bg-main: #242424;

$color-theme: #ffcc01;
$color-theme-transparent: #ffcc01ba;
$color-theme-2: #365fac;
$color-theme-2-transparent: #365faccc;

// Breakpoints for different screen sizes
$breakpoint-xs: 480px; // Extra small devices (mobile)
$breakpoint-sm: 768px; // Small devices (tablet)
$breakpoint-md: 1024px; // Medium devices (small desktop)
$breakpoint-lg: 1200px; // Large devices (large desktop)

$padding-sm: 10px;
$padding-md: 0 10%;
$padding-lg: 0 15%;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bgImage($horizontal: 80%) {
    background-position: $horizontal 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin borderY($border-color) {
    border-top: 3px solid $border-color;
    border-bottom: 3px solid $border-color;
    border-left: none;
    border-right: none;
}

@mixin fontStyle($font-color, $stroke-color) {
    color: $font-color;
    -webkit-text-stroke: 5px $stroke-color;
    paint-order: stroke fill;
}

$gelatine: gelatine 0.7s infinite 0.4s;

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
