$dark-text-main: white;
$dark-bg-main: #242424;

$color-theme: #f833c1;
$color-theme-transparent: #f833c0b6;
$color-theme-2: #0b1548;
$color-theme-2-transparent: #0b1548a6;

$outline: -1px -1px 0px $color-theme-2, 1px -1px 0px $color-theme-2,
    -1px 1px 0px $color-theme-2, 1px 1px 0px $color-theme-2;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textHead() {
    font-size: 2rem;
    font-weight: 800;
}

@mixin bgImage() {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
