@use "variables" as *;

.app {
    min-height: 100vh;
    text-align: center;
    padding: $padding-lg;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;

    @media (max-width: $breakpoint-xs) {
        padding: $padding-sm;
    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        padding: $padding-md;
    }

    nav {
        height: 80px;
        padding: 0.6rem 0;
    }

    main {
        flex: 1;
        padding: 0.6rem 0;

        display: flex;
        flex-direction: column;
    }

    footer {
        height: 60px;
        padding: 0.6rem 0;
    }
}

dialog {
    @include borderY($color-theme);
    background-color: $color-theme-2-transparent;

    color: white;
    text-align: center;

    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
    visibility: hidden;
    display: block;

    transition: transform 0.4s ease-in, opacity 0.4s ease-in,
        visibility 0s linear 0.4s;

    &.show {
        transform: translateY(-50%) scaleY(1);
        opacity: 1;
        visibility: visible;
        transition: transform 0.4s ease-in, opacity 0.4s ease-in;
    }
}
