@use "variables" as *;

// .cards-container {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     flex-wrap: wrap;
//     gap: 1rem;
// }

.app {
    min-height: 100vh;
    text-align: center;
    padding: 1rem 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;

    header {
        height: 80px;
    }

    main {
        flex: 1;
    }

    footer {
        height: 60px;
    }
}

dialog {
    background-color: $color-theme-2-transparent;
    border-top: 3px solid $color-theme;
    border-bottom: 3px solid $color-theme;
    border-left: none;
    border-right: none;
    color: white;
    text-align: center;

    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    opacity: 0;
    visibility: hidden;
    display: block;

    transition: transform 0.4s ease-in, opacity 0.4s ease-in,
        visibility 0s linear 0.4s;

    &.show {
        transform: translateY(-50%) scaleY(1);
        opacity: 1;
        visibility: visible;
        transition: transform 0.4s ease-in, opacity 0.4s ease-in;
    }
}
