@use "variables" as *;

.difficulty-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .difficulty-header {
        @include flexCenter;
        flex-wrap: wrap;

        img:nth-of-type(1) {
            max-width: 400px;
            animation: img-move-1 1s ease-out forwards;
        }

        img:nth-of-type(2) {
            max-width: 320px;
            animation: img-move-2 1s ease-out forwards;
        }
    }

    .difficulty-section {
        flex: 1;
        @include flexCenter;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2em;

        .difficulty-buttons {
            @include flexCenter();
            flex-wrap: wrap;
            gap: 1em;
            max-width: 600px;
        }
        animation: zoom-in 1s ease-out forwards;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(0.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes img-move-2 {
    0% {
        opacity: 0;
        transform: translateX(-200%) translateY(200%);
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes img-move-1 {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(0);
    }
}
