@use "variables" as *;

.first-load {
    @include flexCenter;
    flex-direction: column;

    min-height: 100vh;
}

.loading-gif {
    transform: rotateY(180deg);
    animation: walk 3.5s ease-in forwards;
}

@keyframes walk {
    0% {
        transform: rotateY(180deg) translateX(100%);
    }

    100% {
        transform: rotateY(180deg) translateX(-100%);
    }
}
