@use "variables" as *;

.guidance-container {
    @include flexCenter;
    margin: auto;
    padding: 2.5rem 1rem 1rem;
    position: relative;
    width: fit-content;

    .dialog-close {
        position: absolute;
        right: 0;
        top: 0;

        .icon {
            width: 30px;
            height: 30px;
        }
    }
}
