@use "variables" as *;

@font-face {
    font-family: "JotiOne";
    src: url("../assets/fonts/JotiOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    @include fontStyle($color-theme, $color-theme-2);
    font-family: "JotiOne", sans-serif;
    font-size: 1.5rem;

    background-image: url("/main-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: $breakpoint-xs) {
        font-size: 0.95rem;
    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        font-size: 1.3rem;
    }
}

button {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

a {
    @include fontStyle(white, $color-theme-2);
    text-decoration: underline;
    text-underline-offset: 5px;

    background: transparent;
    border: none;

    transition: transform 0.4s ease-in;

    &:hover {
        transform: scale(1.2);
    }
}

.icon {
    width: 45px;
    height: 45px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-xs) {
        width: 30px;
        height: 30px;
    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        width: 40px;
        height: 40px;
    }
}

.icon-music__on {
    background-image: url("/icon-music-on.svg");
}
.icon-music__off {
    background-image: url("/icon-music-off.svg");
}
.icon-help {
    background-image: url("/icon-help.svg");
}

.icon-close {
    background-image: url("/icon-close.svg");
}

.bg-pidgey {
    background-image: url("/pidgey.png");
    @include bgImage;
}
.bg-charizard {
    background-image: url("/charizard.png");
    @include bgImage;
}
.bg-arceus {
    background-image: url("/arceus.png");
    @include bgImage;
}

.btn {
    transition: transform 0.2s ease-out;
    margin: 0.1em 0.5em;
    font-size: 1.3em;

    * {
        pointer-events: none;
    }

    &:hover {
        transform: scale(1.2);
    }
}
