@use "variables" as *;

.intro-container {
    animation: zoomIn 1s linear both;

    .intro-header {
        @include flexCenter;

        img {
            height: 200px;
        }
    }

    .intro-section {
        @include flexCenter;
        flex-direction: column;

        img {
            height: 200px;
            transform: translateY(-20%) translateX(10%);
        }

        .gelatine {
            animation: gelatine 0.7s infinite 0.4s;
            font-size: 2rem;
        }
    }
}

.landing-container {
    flex: 1;
    @include flexCenter;
    flex-direction: column;
    align-items: stretch;

    .landing-header {
        @include flexCenter;
        justify-content: end;
    }

    .landing-content {
        flex: 1;
        @include flexCenter;
        position: relative;

        & div {
            position: absolute;
            top: 0;
            animation: float-up 5s ease-out both alternate;
        }

        .landing__power {
            animation-delay: 5s;

            img {
                width: 320px;
            }
        }
    }
}

@keyframes float-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
