@use "variables" as *;

.intro-container {
    animation: zoom-in 0.4s ease-out forwards;

    .intro-header {
        @include flexCenter;

        img {
            height: 200px;
        }
    }

    .intro-section {
        @include flexCenter;
        flex-direction: column;
        color: white;

        img {
            height: 200px;
            transform: translateY(-20%) translateX(10%);
        }

        .gelatine {
            animation: gelatine 0.7s infinite 0.4s;
            font-size: 2rem;
        }
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
