@use "variables" as *;

.loading-container {
    @include flexCenter;
    @include borderY(white);
    @include fontStyle(white, $color-theme-2);

    align-items: stretch;
    flex-wrap: wrap;

    padding: 2rem 15%;
    width: 100%;
    background-color: $color-theme-2-transparent;
    background-position: 80% 50%;

    position: absolute;
    left: 0;

    top: 50%;
    transform: translateY(-50%);

    transition: transform 0.4s ease-in, opacity 0.4s ease-in,
        visibility 0s linear 0.4s;

    .loading-detail {
        flex-basis: 320px;
        text-align: start;
        margin-bottom: 1rem;
    }

    .loading-image {
        flex: 1;
        flex-basis: 300px;
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 1ch;
        max-width: 480px;

        div {
            animation: bounce 1s ease infinite;
            animation-delay: calc(var(--delay) / 3);
        }
    }

    @media (max-width: $breakpoint-xs) {
        justify-content: start;
        background-position: 100% 50%;
        padding: 10px;

        .loading-image {
            text-align: start;
            justify-content: start;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
