@use "variables" as *;

.nav-container {
    @include flexCenter;
    justify-content: space-between;
    animation: float-down 1s ease-out forwards;

    .score-board {
        @include fontStyle(white, transparent);
        text-align: end;
    }
}

@keyframes float-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
